@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*
    default = 400;
*/
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #33312E;
}

/*
    without underscore;
*/
a{
    text-decoration: none;
}

/*
    not bigger then its parent
*/
img{
    max-width: 100%;
}

.logo-container{
    display: flex;
    align-items: center;
    background: #D1AB83;
    width: 100%;
    margin: 0 0 50px 0;
    padding: 15px;
    border-bottom-color: #8e694f;
}

/* can't growth, a size of the container - automatik*/
.logo-btn{
    flex: 0 0 auto;
}

.logo-btn a{
    color: #33312E;
    background: #D1AB83;
    font-weight: 800;
    padding: 10px 25px;
    border-radius: 15px;
    border: 2px solid #8E6D56;
    transition: all 500ms ease;
}

.logo-btn a:hover{
    background: #8E6D56;
    color: #4f4640;
}

/*
    this element can take rest place and the text of this el must be in the middle of the el
*/
.logo-title{
    flex: 1;
    text-align: center;
}

header nav{
    margin: 0 200px;
}

header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}